body, html, #ui, #canvas {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    overflow: hidden;
}
#ui{
    position: absolute;
    container-type: size;
    z-index: 20;
}
#canvas{
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
}

#except{
    display: none;
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%; height: 100%;
    background: #fff;
}

*{font-family: informal;}
h2 {width: 100%; text-align: center;}


.btn1{
    position: absolute; width: 25vw; height: 10vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    font-size: 5cqh;
}


/*MENU*/
#btnPlay{
    top: 50vh;
}

/*PLAY MENU*/
#btnDuo{
    top: 40vh;
}
#btnMp{
    top: 60vh;
    font-size: 4cqh;
    & span{
        font-size: 2cqh;
    }
}

/*DUO SETTINGS*/
.duoDiv{
    position: absolute;
    left: 2.5vw; top: 8.5vh;
    width: 47.5vw; height: 75vh;
    box-sizing:border-box; padding: 2.5vw;
    border: solid black 1px; border-radius: 10px;
    & label{
        position: absolute;
        left: 50%; transform: translateX(-50%);
        font-size: 4vh;
        & input{
            font-size: 3.5vh;
            height: 4vh;
            width: 10vw;
        }
    }
    & select{
        position: absolute;
        left: 50%; top: 15vh;
        width: 15vw; height: 4vh;
        font-size: 3.25vh;
        transform: translateX(-50%);
    }
    & canvas{
        position: absolute;
        left: 50%; top: 20vh;
        transform: translateX(-50%);
        width: 25vw; height: 25vw;
        border: solid black 2px;
    }
}
#btndouPlay{
    top: 90vh;
}

/*GAME*/
#gameContent{
    display: none;
}

.touchPanel{
    position: absolute;
    width: 35vw; height: 7vw;
    left: 2.5vw; top: 70%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    justify-items: center;
    &[data-pos="right"]{
        left: 62.5vw;
        transform: scaleX(-1);
    }
}

.btn2{
    height: 100%; aspect-ratio: 1/1;
    border: solid black 2px;
    background: #aab;
    opacity: 0.8;
}

@font-face {
    font-family: informal;
    src: url("./assets/fonts/informal.ttf");
}

@media (orientation: portrait){
    #canvas, #ui{
        display: none;
    }
    #except{
        display: block;
    }
}

@media (pointer: coarse) {
    #gameContent{
        display: block;
    }
}
